    <!doctype html>
    <meta charset="UTF-8">
    <title>Upload new File</title>
     <center>
    <h2>Конвертер BOM Cadence файла в excel для загрузки в IPS</h2>
    <hr>
  <form method=post enctype=multipart/form-data>
        <label for="fileBom">
    Select Cadence BOM file (html/xlsx)
        </label>
        <br>
      <input type=file name=fileBom value="Select BOM html">
        <br>
        <br>
        <label for = "btn" id = "info"></label>
      <input id = 'submit_btn' onclick="changeBtnColor()" type=submit value="Convert Bom" name = "btn">
   </form>
    <br>
    <textarea cols = 90 rows = 20>{{ text }}</textarea>
     </center>

<script>
  var col = document.getElementById("submit_btn");
  var inf = document.getElementById("info");

function changeBtnColor() {
  col.style.color = "red";
  inf.innerHTML = "WAIT........";
}
</script>