<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select app</title>
</head>
<body>
<center><h2>Оглавление</h2></center>
<hr>
<center>
    <a href="{{url_for('cadencename')}}">Конвертер наименования отечественного ЭРИ в <b>Cadence Name</b></a>
    <br>
    <hr>
    <a href={{url_for('upload_file')}}>Конвертер BOM файла САПР Cadence (.html/.xlsx) в .xlsx формат для загрузки в IPS</a>
    <br>
    <hr>
    <a href="url">Генерация файла Д32 для автоматизированного монтажа</a>
    <br>
    <hr>
    <a href="url">link text</a>
    <br>
    <hr>
</center>
</body>
</html>